.navbar-inverse {
    background-color: rgb(19, 42, 49);
}

.nav-tabs-custom > .nav-tabs {
    margin: 0;
    border-bottom: 1px solid #d7d7d7;
    color: #a28787;
    font-size: 14px;
    font-weight: 300;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #006687;
}